$info-box-width : 460px;
$info-box-padding : 10px;

.infoBox {
	background-color : white;
	border           : solid 1px black;
	width            : $info-box-width + 2 * $info-box-padding;
	padding          : 0;
	text-align       : justify;

	& > * {
		display : none;
	}

	& > .content, & > .OK {
		display : block;
	}

	& > .content {
		margin  : 0;
		padding : 0;
		border  : none;

		img {
			margin : $info-box-padding;
		}

		img.button-image {
			border         : solid 1px gray;
			padding        : 4px;
			height         : 16px;
			width          : 16px;
			vertical-align : -50%;
			display        : inline-block;
		}

		img.centered {
			display : block !important;
			margin  : 0 auto;
		}

		p {
			margin : $info-box-padding + 10px;

			&, a {
				font-size : 12pt;
			}
		}
	}

	& > .OK {
		width            : 100%;
		border           : none;
		border-top       : solid black 1px;
		background-color : $button-background-color;
		text-align       : center;
		margin           : 0px;
		padding          : 5px;
		font-weight      : bold;

		&:hover {
			background-color : $button-hover-background-color;
		}
	}
}
