.ts-controls {
	margin     : 5px;
	text-align : center;
	cursor     : default;

	& > div {
		float       : left;
		line-height : 0;

		& > div {
			direction               : ltr;
			overflow                : hidden;
			position                : relative;
			-webkit-user-select     : none;
			background-color        : white;
			padding                 : 4px;
			-webkit-background-clip : padding-box;
			background-clip         : padding-box;
			border-top              : solid 1px rgba(0, 0, 0, 0.14902);
			border-bottom           : solid 1px rgba(0, 0, 0, 0.14902);
			border-right            : solid 1px rgba(0, 0, 0, 0.14902);
			-webkit-box-shadow      : rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
			box-shadow              : rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;

			&.button:hover {
				background-color : #ebebeb;
			}

			& > span {
				display : inline-block;

				& > div {
					height   : 16px;
					padding  : 0;
					overflow : hidden;
					position : relative;
					margin   : 0;

					&.button {
						width   : 16px;
						padding : 0;

						&.no-sources {
							background-image : url(img/runall.png);
						}

						&.some-sources {
							background-image : url(img/pausesome.png);
						}

						&.all-sources {
							background-image : url(img/pauseall.png);
						}
					}

					&.text {
						color       : black;
						font-family : Roboto, Arial, sans-serif;
						text-align  : left;
						font-size   : 11px;
						font-weight : bold;
						line-height : 16px;
						padding     : 0px 4px;
					}
				}
			}
		}

		&:first-child > div {
			border-top-left-radius    : 2px;
			border-bottom-left-radius : 2px;
			border-left               : solid 1px rgba(0, 0, 0, 0.14902);
		}

		&:not(:first-child) > div {
			border-left : none;
		}

		&:last-child > div {
			border-top-right-radius    : 2px;
			border-bottom-right-radius : 2px;
		}
	}
}
