<div class="ts-controls">
	<div>
		<div class="select" draggable="false">
			<span>
				<!--suppress HtmlFormInputWithoutLabel -->
				<select ng-model="scenario" ng-options="sc for sc in scenarios">
					<option value="">〈no scenario〉</option>
				</select>
			</span>
		</div>
	</div>
	<div>
		<div class="button"
		     draggable="false"
		     ng-click="runOrPauseAll()"
		     title="{{running() && 'Pause Everything' || 'Play Everything'}}">
			<span><img ng-src="{{controlIcon()}}"></span>
		</div>
	</div>
	<div title="Of all {{count()}} sources, {{running() || 'none'}} {{running()==1 && 'is' || 'are'}} currently running.">
		<div draggable="false">
			<span><div class="text">
				<ng-pluralize count="count()" when="{
					'0': '∅',
					'one': '{{running() && &quot;on&quot; || &quot;off&quot;}}',
					'other': '{{running()}} / {}'
				}"></ng-pluralize>
			</div></span>
		</div>
	</div>
</div>
