html, body {
  height: 100%;
  min-height: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px; }

[hidden] {
  display: none; }

.ts-map,
.ts-map .canvas {
  height: 100%;
  min-height: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px; }

.ts-controls {
  margin: 5px;
  text-align: center;
  cursor: default; }
  .ts-controls > div {
    float: left;
    line-height: 0; }
    .ts-controls > div > div {
      padding: 4px;
      direction: ltr;
      overflow: hidden;
      position: relative;
      -webkit-user-select: none;
      background-color: white;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border-top: solid 1px rgba(0, 0, 0, 0.14902);
      border-bottom: solid 1px rgba(0, 0, 0, 0.14902);
      border-right: solid 1px rgba(0, 0, 0, 0.14902);
      -webkit-box-shadow: rgba(0, 0, 0, 0.29804) 0px 1px 4px -1px;
      box-shadow: rgba(0, 0, 0, 0.29804) 0px 1px 4px -1px; }
      .ts-controls > div > div.button:hover, .ts-controls > div > div.select:hover {
        background-color: #d2e6ff; }
      .ts-controls > div > div > span {
        display: inline-block; }
        .ts-controls > div > div > span > * {
          height: 16px;
          overflow: hidden;
          position: relative;
          margin: 0; }
        .ts-controls > div > div > span > img {
          width: 16px; }
        .ts-controls > div > div > span > div {
          color: black;
          font-family: Roboto, Arial, sans-serif;
          text-align: left;
          font-size: 11px;
          font-weight: bold;
          line-height: 16px;
          padding: 0px 4px; }
        .ts-controls > div > div > span > select {
          border: none;
          font-style: italic;
          background-color: transparent;
          padding: 0 4px 0 0 !important;
          font-family: Roboto, Arial, sans-serif;
          margin-top: -2px !important;
          height: 18px !important; }
          .ts-controls > div > div > span > select:focus {
            outline: none; }
    .ts-controls > div:first-child > div {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      border-left: solid 1px rgba(0, 0, 0, 0.14902); }
    .ts-controls > div:not(:first-child) > div {
      border-left: none; }
    .ts-controls > div:last-child > div {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px; }

.infoBox {
  background-color: white;
  border: solid 1px black;
  width: 370px;
  padding: 0;
  padding-bottom: 30px;
  text-align: justify;
  z-index: 99999999;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -185px;
  margin-top: -185px; }
  .infoBox > .content, .infoBox > .OK {
    display: block; }
  .infoBox > .content {
    margin: 0;
    padding: 10px;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 350px; }
    .infoBox > .content img.photo {
      width: 100%;
      height: auto; }
    .infoBox > .content img.button-image {
      border: solid 1px gray;
      padding: 4px;
      height: 16px;
      width: 16px;
      vertical-align: middle; }
    .infoBox > .content img.centered {
      display: block !important;
      margin: 0 auto; }
    .infoBox > .content h2 {
      margin: 10px; }
    .infoBox > .content p {
      margin: 10px; }
      .infoBox > .content p, .infoBox > .content p a {
        font-size: 12pt; }
  .infoBox > .OK {
    position: absolute;
    top: 100%;
    width: 100%;
    border: none;
    border-top: solid black 1px;
    background-color: white;
    text-align: center;
    margin: 0px;
    padding: 5px;
    font-weight: bold;
    height: 30px;
    margin-top: -30px; }
    .infoBox > .OK:hover {
      background-color: #d2e6ff; }
