html, body {
  height: 100%;
  min-height: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px; }

[hidden] {
  display: none; }

.ts-map,
.ts-map .canvas {
  height: 100%;
  min-height: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px; }
